@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html {
  max-height: 100vh;
}

.App {
  color: #A15EF7;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}


body {
  background-color: #495057;
}

p {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

button {
  font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #BDB2FF;
    border-radius: 0.3em;
    display: flex;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1em 2em;
  
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
  
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 700ms ease-in-out;
    transition: background 700ms ease-in-out;
}

button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.8s ease;
}

button:hover {
  background-position: 0;
}

button {
  border-color: var(--red);
  color: #A15EF7;
  background-image: -webkit-linear-gradient(
    45deg,
    #A15EF7 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, #A15EF7 50%, transparent 50%);
}

button:hover,
button:focus  {
  color: #fff;
  outline: 0;
}







