.Header {
    display: grid;
    flex-direction: row;

    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 1;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    align-items: center;
}

.titleDiv {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
}


.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.2rem;
    margin: 50px;
    grid-row: 1;
    text-align: center;
    justify-self: start;
    margin-right: 4px;
}

.titleSignImage {
    align-self: center;
    max-width: 45px;
    max-height: 45px;
    margin-left: 0px;
}


