@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.profileWrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 20px repeat(3, 1fr) 40px;
    align-content: center;
}

.profileTranslationField {
   
    background-color: #B2ABB8;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 30px;
    border-radius: 12px;

}

.deleteTranslationBtn {
    grid-row: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}

.logoutBtn {
    grid-row: 2;
    grid-column-start: 4;
    grid-column-end: 6;
    padding: 1em 3.2em;
    text-align: center;
    justify-self: end;
    align-self: flex-start;
}

.deleteTranslationBtn{
    margin: 30px;
    text-align: center;
    justify-content: center;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 5px;
}




