
.profileComp {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    align-items: center;
    text-align: center;
    grid-column: 4;
    grid-row: 1;

}

h1 {
    font-size: 2.4rem;
 
}

.avatar {
    max-width: 100px;
    max-height: 100px;
    border: 2px solid transparent;
}

.avatar:hover {
	border: 2px solid #A15EF7;
    border-radius: 50%;
    cursor: pointer;
}

