@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.startPageWrapper{
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows:  auto 80px repeat(2, auto);
    
}

body > #root > .startPageWrapper {
    height: 100vh;
  }

.startTitleWrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    background-color: #2F3E46;
    margin: 0px;
    text-align: center;
}

.startTitle {
    font-size: 8rem;
    font-family: 'Bebas Neue', cursive;
    justify-self: center;
    margin: 75px;
}

.startInputField{
    grid-column: 2; 
    grid-row: 2;
    justify-self: center;
    justify-items: center;
    display: flex;
}

.startPageImage {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    /*position: absolute;
    bottom: 10px;*/
    align-self: flex-end;
    justify-self: center;
    max-width: 1040px;
   
}
