@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.translationPageWrapper {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 20px repeat(3, 1fr) 40px;
    height: 100vh;
}


input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #BDB2FF;
    border-radius: 8px;
    font-size: 1rem;
    grid-row: 2;
    grid-column: 2;
    justify-self: flex-start;
    align-self: center;
    color: #A15EF7;
   
  }

.translateInputField {
    grid-row: 2;
    grid-column: 3;
    justify-self: center;
    display: flex;
}

.translationTranslateBtn {
    padding: 0.75rem 0.6rem;
    justify-self: flex-end;
    align-self: center;
    margin-left: 4px;
}

.translationContainer {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 5;

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 40px auto;

    justify-content: center;
    justify-items: center;
}

.translationTitle {
    grid-row: 1;
    grid-column: 1;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.translationField {
    background-color: #B2ABB8;
    grid-row: 2;
    grid-column: 1;
    border-radius: 8px;
    min-width: 900px;
}
